.toolbar{

display:flex;

gap:20px;

margin:25px 0;

}

#lista{

display:grid;

gap:20px;

}

.solicitud{

background:white;

padding:25px;

border-radius:12px;

box-shadow:var(--shadow-md);

display:flex;

justify-content:space-between;

align-items:center;

transition:.25s;

}

.solicitud:hover{

transform:translateY(-4px);

}

.info h3{

margin-bottom:10px;

}

.estado{

padding:8px 16px;

border-radius:20px;

background:var(--color-primary);

display:inline-block;

margin-top:10px;

font-weight:bold;

}